footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.custom-col {
    height: 100px;
    width: 100px;
    background: var(--bs-blue);
    border: 4px solid black;
}

main {
    background: var(--bs-warning);
}